extends layout

block content
  #map(ng-controller='MapCtrl')
    leaflet(markers='markers',
            center='center',
            tilelayer='tilelayer',
            controls='controls',
            map)
