extends layout

block content
  .map-content
    #map
      leaflet(markers='markers', center='center')
  .content-and-controls
    #hovered-info
      p NC Census Tract Data
    #search-controls
      button.medium.radius#clear-search Clear Search
      form.custom
  .clearfix
