extends layout

block content
  .map-content
    #map
      leaflet(markers='markers', center='center')
  .content-and-controls
    #hovered-info
      p NC Census Tract Data
    #color-legend
    #streaming-household-count
    .clearfix
    #search-controls
      button.medium.radius#clear-search Clear Search
      form.custom
  .clearfix

  script(id='color-legend-tpl', type='text/html')
    | <p>Total Population</p>
    | <ul>
    | <% grades.forEach(function(grade) { %>
    |   <li><i style='background-color: <%= grade.color %>'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i> <%= grade.low %> &ndash; <%= grade.high %></li>
    | <% }); %>
    | </ul>

  script(id='hovered-info-tpl', type='text/html')
    | <h3>NC Census Tract Data</h3>
    | <% if (tract) { %>
    |   <% [2010, 2000].forEach(function(year) { %>
    |     <h4>Year <%= year %></h4>
    |     <table>
    |       <tr>
    |         <th>Population</th>
    |         <td><% if (tract['totalPop' + year]) { %>
    |           <%= tract['totalPop' + year].toFixed(2) %> people
    |         <% } %></td>
    |       </tr>
    |       <tr>
    |         <th>Population Density</th>
    |         <td><% if (tract['populationDensity' + year]) { %>
    |           <%= tract['populationDensity' + year].toFixed(2) %> people / mi<sup>2</sup>
    |         <% } %></td>
    |       </tr>
    |     </table>
    |   <% }); %>
    | <% } else { %>
    |    <p>Hover over an area</p>
    | <% } %>

  script(id='streaming-household-count-tpl', type='text/html')
    | <h4>Total Households Streamed</h4>
    | <h3><%= totalHouseholds %></h3>