extends layout

block content
  .map-content
    #map
      leaflet(markers='markers', center='center')
  #search-controls
    button.medium.radius#clear-search Clear Search
    form#search-controls.custom
  .clearfix
