doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    //if lte IE 8
    link(rel='stylesheet', href='/stylesheets/leaflet.ie.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/MarkerCluster.css')
    link(rel='stylesheet', href='/stylesheets/MarkerCluster.Default.css')
    link(rel='stylesheet', href='/stylesheets/leaflet.label.css')
    link(rel='stylesheet', href='/stylesheets/locationfilter.css')

    script(src='javascripts/require.js', data-main='javascripts/main.js')
    script(src='javascripts/custom.modernizr.js')
  body
    h1 HackathonCLT
    block content

