body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#map {
  width: 500px;
  height: 500px;
  margin-left: 75px;
  margin-bottom: 100px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  float: left;
}
#search-controls {
  margin-left: 25px;
  float: left;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
