@import 'nib'

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

#map
  width: 800px
  height: 800px
  margin-left: 75px
  margin-bottom: 100px
  border-radius: 10px
