@import 'nib'

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

#map
  margin-left: 75px
  width: 500px
  height: 500px
  margin-bottom: 100px
  border-radius: 10px
