body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#map {
  margin-left: 75px;
  width: 500px;
  height: 500px;
  margin-bottom: 100px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
